#name{
    color: blueviolet;
    text-align:center;
    font-size:100px;
}
#p1{
    color:crimson;
    text-align:center;
    font-size:100px;
}

#p3{
    color:black;
    font-size:75px;
}

#p2{
    color:black;
    font-size:75px;
}
#p4{
    color:black;
    font-size: 75px;
}
#p5{
    color: black;
    font-size: 75px;
}

#p6{
    color:black;
    font-size: 75px;
}

#p7{
    color:black;
    font-size: 75px;
}

#R{
    color:blue;
    font-size: 75px;
    text-align:center;
}
#p8{
    font-size: 100px;
}
#p9{
    font-size: 75px;
}
#p10{
    font-size: 100px;
}


#p11{
    font-size: 100px;
}
#p11{
    font-size:100px;
}
#p30{
    font-size:75px;
    color:black;


}

#p92{
    font-size:75px;
}
#p12{
    font-size: 75px;

}
#p13{
    font-size: 75px;
    
}
#p123{
    font-size:75px;
    color:black;


}
#p14{
    font-size: 75px;
    
}
#H{
    font-size: 100px;
    
}
#p74{
    font-size: 75px;
    
}







  


